header{

display: flex;
flex-direction: center;

}
h1{
    background-color: #f4f1bb;
    color: #ed6a5a;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 100PX;
    
}
aside{
    grid-column: 1/2;
}
nav{
    background-color: #f4f1bb;
    color: #ed6a5a;
    
}
body{
    background-color: #f4f1bb;
}
footer{
    background-color: #f4f1bb;
    color: #ed6a5a;
    padding: 20px;
}
img {
    max-height: 500px;
   max-width: 1600px;
   float: center;
 
}
aside{
    float: right;
}
.fotofinal{
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: center;
    width: 200px;

}
.hes{
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    float: center;
    width: 200px;
}

article{
    background-color: #f4f1bb;
    color: #ed6a5a;
}
h2{
text-align: center;
background-color: #f4f1bb;
color: #ed6a5a;
display: grid;
height: 40px;
font-family: 'Times New Roman', Times, serif;
}
h3{
    font-family: 'Times New Roman', Times, serif;
}
h4{
    font-family: 'Times New Roman', Times, serif;
}
p{
    background-color: #f4f1bb;
    height: 15px;
    grid-column: 2/4;
}
.menu {
    padding: 0px 20px
    text-aling center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.menu>li {
    float: left;
    
}
.menu> li a{
    
    color: #36c9c6;
    text-decoration: none;
    padding: 20px 80px;
    display: block;
}
.menu li a:hover {
    background-color: #ed6a5a;
}
.menu li ul{
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    min-width: 140px;
}
.menu li:hover> ul {
    display: block;
}
.menu li ul li {
    position: relative;
}
.menu li ul li ul{
    right: 140px;
}
